/* * {
  color: aliceblue;
} */

.container-fluid {
  background-color: rgb(27, 27, 27);
  color: white;
  border: 0.1px solid rgb(187, 187, 187);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 45vh;
  text-align: center;
  padding: 0;
}

header {
  border: 0.00001px solid rgb(187, 187, 187);
  border-radius: 15px 15px 0 0;

  width: 100%;
  margin-bottom: 16px;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
}

input {
  color: white;
}

button {
  margin-bottom: 16px;
}

footer {
  border: 0.00001px solid rgb(187, 187, 187);
  border-radius: 0 0 15px 15px;
  width: 100%;
  margin-top: 16px;
  margin-left: 0;
  margin-right: 0;
  padding: 10px;
}
